* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "title title"
  "header header"
  "content sidebar"
  "footer footer";
}

.title {
  grid-area: title;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
  justify-self: center;
  padding: 50px;
}

.footer {
  grid-area: footer;
  justify-self: end;
}
